#
server {
    listen 80;
    listen [::]:80;

    root /var/www/<%= @project %>/frontend/dist;
    index index.html index.htm index.php;

    server_name <%= @host_url %>;
    location / {
        try_files $uri $uri/ /index.html;
    }

    # pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
    #
    location /api {
        root /var/www/<%= @project %>/backend/public;
        include fastcgi_params;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root/index.php;
        fastcgi_pass unix:/run/php/php<%= @php_version %>-fpm.sock;
        fastcgi_read_timeout 1000;
    }

    # Give missing stylesheets, images and etc 404
    location ~ \.(html|htm|css|js|wasm|txt|pdf|png|jpg|jpeg|svg|ico|gif|webm)$ {
        try_files $uri $uri/ =404;
        add_header Cache-Control no-cache;
    }

}
